*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "League Spartan", sans-serif;
  font-size: 1.8rem;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #bedbdb;
}

.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.job-list {
  width: 95%;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  padding: 5rem;
  list-style: none;
}

.job {
  position: relative;
  display: flex;
  align-items: center;
  background-color: #fff;
  box-shadow: 0px 15px 10px rgba(13, 113, 130, 0.15);
  padding: 2rem;
  border-radius: 12px;
}

.tagged-job::before {
  content: "";
  width: 4px;
  height: 95%;
  background-color: #5ca5a5;
  position: absolute;
  left: 0;
  border-radius: 12px;
}

.job img {
  width: 8rem;
  margin-right: 2rem;
}

.job-info {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.company {
  display: flex;
  gap: 1rem;
}

.company-name {
  color: #5ca5a5;
  font-weight: 700;
}

.new-tag,
.featured-tag {
  font-size: 1.4rem;
  letter-spacing: 0px;
  color: #ffffff;
  font-weight: 700;
  background-color: #5ca5a5;
  padding: 0.5rem 0.6rem;
  border-radius: 12px;
}

.featured-tag {
  color: #fff;
  background-color: #2b3939;
}

.job-position {
  font-size: 2.2rem;
  font-weight: 700;
}

.job-position:hover {
  color: #5ca5a5;
  cursor: pointer;
}

.job-details {
  display: flex;
  gap: 2rem;
  font-size: 1.8rem;
  color: #7c8f8f;
  font-weight: 500;
}

.job-details p {
  position: relative;
}

.job-details p::after {
  content: ".";
  font-size: 3rem;
  position: absolute;
  top: -70%;
  left: 110%;
}

.job-details p:last-of-type::after {
  display: none;
}

.tag-list {
  position: absolute;
  right: 2rem;
  display: flex;
  gap: 1rem;
}

.tag-btn {
  font-family: "League Spartan";
  border: none;
  height: 2.6rem;
  padding: 0rem 0.5rem;
  border-radius: 4px;
  background-color: #d8e9e9;
  font-size: 1.3rem;
  color: #5ca5a5;
  font-weight: 700;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.selected-tags .tag-btn {
  padding: 0;
  padding-left: 0.5rem;
}

.icon-remove {
  border-radius: 4px;
  width: 2rem;
  height: 100%;
  background-color: #5ca5a5;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-remove:hover {
  background-color: #2b3939;
}

.icon-remove svg {
  fill: #fff;
}

/* .tag-btn:hover {
  background-color: #5ca5a5;
  color: #fff;
} */

.selected-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-top: 5rem;
  width: 30%;
  background-color: #fff;
  padding: 4rem;
  border-radius: 12px;
}

.clear-btn {
  border: none;
  background-color: transparent;
  font-family: "League Spartan";
  font-size: 1.6rem;
  color: #5ca5a5;
  font-weight: 700;
  cursor: pointer;
}
