* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Lexend Deca", sans-serif;
}

.center {
  height: 100vh;
  display: flex;
  align-items: center;
}

.card {
  margin: 0 auto;
  display: flex;
}

.sedans,
.suvs,
.luxury {
  width: 30.7rem;
  height: 50rem;
  padding: 5rem;
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
}

.sedans h2,
.suvs h2,
.luxury h2 {
  font-size: 4rem;
  font-family: "Big Shoulders Display";
  text-transform: uppercase;
  color: hsl(0, 0%, 95%);
  margin-bottom: 2rem;
}

.sedans p,
.suvs p,
.luxury p {
  margin-bottom: 8.3rem;
  color: hsla(0, 0%, 100%, 0.75);
  line-height: 1.6;
}

.sedans {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.luxury {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.sedans {
  background-color: hsl(31, 77%, 52%);
}

.btn-sedans:link,
.btn-sedans:visited {
  color: hsl(31, 77%, 52%);
}

.suvs {
  background-color: hsl(184, 100%, 22%);
}

.btn-suvs:link,
.btn-suvs:visited {
  color: hsl(184, 100%, 22%);
}

.luxury {
  background-color: hsl(179, 100%, 13%);
}

.btn-luxury:link,
.btn-luxury:visited {
  color: hsl(179, 100%, 13%);
}

.icon {
  order: -1;
  height: 4rem;
  width: 7rem;
  margin-bottom: 5rem;
}

.btn:link,
.btn:visited {
  background-color: hsl(0, 0%, 95%);
  text-decoration: none;
  text-align: center;
  width: 14rem;
  font-size: 1.5rem;
  padding: 1.5rem 1rem;
  font-weight: 500;
  border-radius: 25px;
  cursor: pointer;
  transition: all 0.2s;
}

.btn:hover,
.btn:active {
  color: hsl(0, 0%, 95%);
  border: solid 2px hsl(0, 0%, 95%);
  padding: 1.3rem;
  border-radius: 25px;
}

.btn-sedans:hover,
.btn-sedans:active {
  background-color: hsl(31, 77%, 52%);
}

.btn-suvs:hover,
.btn-suvs:active {
  background-color: hsl(184, 100%, 22%);
}

.btn-luxury:hover,
.btn-luxury:active {
  background-color: hsl(179, 100%, 13%);
}
