@media (max-width: 56em) {
  .background-left {
    left: -19rem;
  }

  .background-right {
    right: -19rem;
  }

  .display {
    margin-right: 5rem;
  }
}

@media (max-width: 49em) {
  .background-left {
    left: -30rem;
  }

  .background-right {
    right: -30rem;
  }

  .content {
    flex-direction: column;
    gap: 5rem;
  }

  .info {
    width: 39rem;
    text-align: center;
  }

  .display {
    margin-right: 0;
  }
}

@media (max-width: 39em) {
  html {
    font-size: 50%;
  }

  .content {
    margin-top: 6rem;
    gap: 6rem;
  }

  .display {
    height: 55rem;
    margin-bottom: 3rem;
  }

  .chat-section {
    height: 46rem;
  }

  .info {
    width: 36rem;
  }
}
